<h1>All the committees of both house and senate</h1>
<h1>HOUSE</h1>
{{#each house as |houseCommittee|}}
{{houseCommittee.name}}
{{/each}}
<hr />
<h1>SENATE</h1>
{{#each senate as |senateCommittee|}}
{{senateCommittee.name}}
{{/each}}
