{{lookup-form zipLookup="zipLookup"}}

<button {{action 'committeesLink'}}>See List Of Senate Committess</button>
<button {{action 'houseCommitteesLink'}}>See List Of House Committess</button>
<button {{action 'allCommittees'}}>See List Of ALL Committess</button>
